{
  "extends": ["standard", "plugin:import/recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "extends": [
        "love",
        "plugin:import/recommended",
        "plugin:import/typescript",
        "prettier"
      ]
    }
  ]
}
