name: Publish (latest)

on:
  release:
    types: [created]

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    if: "!github.event.release.prerelease"
    runs-on: ubuntu-latest
    environment: npm

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ".node-version"
          registry-url: "https://registry.npmjs.org"
          cache: "yarn"
      - run: yarn install
      - run: yarn build
      - run: npm publish --provenance --tag=latest
