name: Publish (latest)

on:
  release:
    types: [created]

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    if: "!github.event.release.prerelease"
    runs-on: ubuntu-latest
    environment: npm

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: ".node-version"
          registry-url: "https://registry.npmjs.org"
          cache: "yarn"
      - run: yarn install
      - run: yarn build
      - run: npm publish --provenance --tag=latest
