name: Publish (next)

on:
  release:
    types: [created]

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    if: "github.event.release.prerelease"
    runs-on: ubuntu-latest
    environment: npm

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ".node-version"
          registry-url: "https://registry.npmjs.org"
          cache: "yarn"
      - run: yarn install
      - run: yarn build
      - run: npm publish --provenance --tag=next
